/bin/
.idea/
.classpath
.project
2DMolekuralPhisic.iml
/Results/E3Result.txt
/Results/E4Result.txt
/Results/E5Result.txt
/Results/E6Result.txt
/Results/E7Result.txt
/Results/best1000/
/Results/E8Result.txt
